__pycache__

.venv

.DS_Store

# 文件夹
ego/.env*
ego/zappa_settings.json
ego/logs/
ego/static/
ego/utils/tmp.vue
ego/wallpaper/scripts/images/
ego/wallpaper/scripts/s3_wallpaper_bucket/
ego/ego-dev*.zip
ego/package/
ego/utils/output*

# 
pokemon-dataset-zh