__pycache__

.venv
.DS_Store

*.zip

# 代码辅助工具
.trae
.codebuddy

# 文件夹
ego/.env*
ego/zappa_settings.json
ego/logs/
ego/static/
ego/wallpaper/scripts/images/
ego/wallpaper/scripts/output/
ego/wallpaper/scripts/s3_wallpaper_bucket/
ego/ego-dev*.zip
ego/package/

# 前端编译 tailwindcss 71M
ego/wallpaper/static/wallpaper/css/tailwindcss

# 宝可梦图鉴数据
pokemon-dataset-zh